In [1]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

pd.options.display.max_columns = None

In [2]:
corpus = [

'Data Science is an overlap between Arts and Science',

'Generally, Arts graduates are right-brained and Science graduates are left-brained',

'Excelling in both Arts and Science at a time becomes difficult',

'Natural Language Processing is a part of Data Science'

]


corpus

['Data Science is an overlap between Arts and Science',
 'Generally, Arts graduates are right-brained and Science graduates are left-brained',
 'Excelling in both Arts and Science at a time becomes difficult',
 'Natural Language Processing is a part of Data Science']

In [3]:
tfidf_model = TfidfVectorizer()

data = tfidf_model.fit_transform(corpus)

In [4]:
data

<4x26 sparse matrix of type '<class 'numpy.float64'>'
	with 35 stored elements in Compressed Sparse Row format>

In [5]:
tfidf_model.get_feature_names()

['an',
 'and',
 'are',
 'arts',
 'at',
 'becomes',
 'between',
 'both',
 'brained',
 'data',
 'difficult',
 'excelling',
 'generally',
 'graduates',
 'in',
 'is',
 'language',
 'left',
 'natural',
 'of',
 'overlap',
 'part',
 'processing',
 'right',
 'science',
 'time']

In [6]:
tfidf_model.vocabulary_

{'data': 9,
 'science': 24,
 'is': 15,
 'an': 0,
 'overlap': 20,
 'between': 6,
 'arts': 3,
 'and': 1,
 'generally': 12,
 'graduates': 13,
 'are': 2,
 'right': 23,
 'brained': 8,
 'left': 17,
 'excelling': 11,
 'in': 14,
 'both': 7,
 'at': 4,
 'time': 25,
 'becomes': 5,
 'difficult': 10,
 'natural': 18,
 'language': 16,
 'processing': 22,
 'part': 21,
 'of': 19}

In [7]:
print(data.todense())

[[0.40332811 0.25743911 0.         0.25743911 0.         0.
  0.40332811 0.         0.         0.31798852 0.         0.
  0.         0.         0.         0.31798852 0.         0.
  0.         0.         0.40332811 0.         0.         0.
  0.42094668 0.        ]
 [0.         0.159139   0.49864399 0.159139   0.         0.
  0.         0.         0.49864399 0.         0.         0.
  0.24932199 0.49864399 0.         0.         0.         0.24932199
  0.         0.         0.         0.         0.         0.24932199
  0.13010656 0.        ]
 [0.         0.22444946 0.         0.22444946 0.35164346 0.35164346
  0.         0.35164346 0.         0.         0.35164346 0.35164346
  0.         0.         0.35164346 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.18350214 0.35164346]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.30887228 0.         0.
  0.         0.         0.         0.30887228 0.39176533 0.
  0.39176533 0.39176533 0.         0.39176533 0.39176533 0.
  0.2044394  0.        ]]

In [14]:
a=[1,2,3,4]
b=[9,10,11,56]
list(zip(a,b))

[(1, 9), (2, 10), (3, 11), (4, 56)]

In [15]:
words_idf = dict(zip(tfidf_model.get_feature_names(), tfidf_model.idf_))

In [16]:
sorted(words_idf.items(), key = lambda x : x[1])

[('science', 1.0),
 ('and', 1.2231435513142097),
 ('arts', 1.2231435513142097),
 ('data', 1.5108256237659907),
 ('is', 1.5108256237659907),
 ('an', 1.916290731874155),
 ('are', 1.916290731874155),
 ('at', 1.916290731874155),
 ('becomes', 1.916290731874155),
 ('between', 1.916290731874155),
 ('both', 1.916290731874155),
 ('brained', 1.916290731874155),
 ('difficult', 1.916290731874155),
 ('excelling', 1.916290731874155),
 ('generally', 1.916290731874155),
 ('graduates', 1.916290731874155),
 ('in', 1.916290731874155),
 ('language', 1.916290731874155),
 ('left', 1.916290731874155),
 ('natural', 1.916290731874155),
 ('of', 1.916290731874155),
 ('overlap', 1.916290731874155),
 ('part', 1.916290731874155),
 ('processing', 1.916290731874155),
 ('right', 1.916290731874155),
 ('time', 1.916290731874155)]

In [10]:
{i:j for i,j in sorted(words_idf.items(), key = lambda x : x[1])}

{'science': 1.0,
 'and': 1.2231435513142097,
 'arts': 1.2231435513142097,
 'data': 1.5108256237659907,
 'is': 1.5108256237659907,
 'an': 1.916290731874155,
 'are': 1.916290731874155,
 'at': 1.916290731874155,
 'becomes': 1.916290731874155,
 'between': 1.916290731874155,
 'both': 1.916290731874155,
 'brained': 1.916290731874155,
 'difficult': 1.916290731874155,
 'excelling': 1.916290731874155,
 'generally': 1.916290731874155,
 'graduates': 1.916290731874155,
 'in': 1.916290731874155,
 'language': 1.916290731874155,
 'left': 1.916290731874155,
 'natural': 1.916290731874155,
 'of': 1.916290731874155,
 'overlap': 1.916290731874155,
 'part': 1.916290731874155,
 'processing': 1.916290731874155,
 'right': 1.916290731874155,
 'time': 1.916290731874155}

In [11]:
pd.DataFrame(data = {i:j for i,j in sorted(words_idf.items(), key = lambda x : x[1])} , index = range(1))

,science,and,arts,data,is,an,are,at,becomes,between,both,brained,difficult,excelling,generally,graduates,in,language,left,natural,of,overlap,part,processing,right,time
0,1.0,1.223144,1.223144,1.510826,1.510826,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291,1.916291

In [12]:
sorted(tfidf_model.vocabulary_)

['an',
 'and',
 'are',
 'arts',
 'at',
 'becomes',
 'between',
 'both',
 'brained',
 'data',
 'difficult',
 'excelling',
 'generally',
 'graduates',
 'in',
 'is',
 'language',
 'left',
 'natural',
 'of',
 'overlap',
 'part',
 'processing',
 'right',
 'science',
 'time']

In [13]:
tfidf_df = pd.DataFrame(data.todense())

tfidf_df.columns = sorted(tfidf_model.vocabulary_)

tfidf_df.head()

,an,and,are,arts,at,becomes,between,both,brained,data,difficult,excelling,generally,graduates,in,is,language,left,natural,of,overlap,part,processing,right,science,time
0,0.403328,0.257439,0.000000,0.257439,0.000000,0.000000,0.403328,0.000000,0.000000,0.317989,0.000000,0.000000,0.000000,0.000000,0.000000,0.317989,0.000000,0.000000,0.000000,0.000000,0.403328,0.000000,0.000000,0.000000,0.420947,0.000000
1,0.000000,0.159139,0.498644,0.159139,0.000000,0.000000,0.000000,0.000000,0.498644,0.000000,0.000000,0.000000,0.249322,0.498644,0.000000,0.000000,0.000000,0.249322,0.000000,0.000000,0.000000,0.000000,0.000000,0.249322,0.130107,0.000000
2,0.000000,0.224449,0.000000,0.224449,0.351643,0.351643,0.000000,0.351643,0.000000,0.000000,0.351643,0.351643,0.000000,0.000000,0.351643,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.183502,0.351643
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.308872,0.000000,0.000000,0.000000,0.000000,0.000000,0.308872,0.391765,0.000000,0.391765,0.391765,0.000000,0.391765,0.391765,0.000000,0.204439,0.000000